/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --FC:  limegreen;
    --BGCOLOR: #000;
    --BGFADE: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
    --CHBX-COLOR: #FFF;

    /* FONT */
    --FF: sans-serif;
    --FS: medium;
    --FW: bold;
}

/* || UTILITY */
.grow {
    flex-grow: 1;
}

.center {
    text-align: center;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centering fix for Safari */
.safPad {
    /*padding fix last case */
    /*padding-left: 45%;*/
    text-align: -webkit-center;
}

/* || GENERAL */
html {
    color: var(--FC);
    font-family: var(--FF);
    font-size: var(--FS);
    font-weight: var(--FW);
    line-height: 1.2;
    place-content: center;
    min-width: fit-content;
    white-space: nowrap;
}

body{
    background-color: var(--BGCOLOR);
}

/* || BODY */
.coin{
    width: 50px;
    height: 50px;
}

.line{
    display: flex;
    place-content: center;
}

#bottomHalfDiv{
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;

    justify-content: center;
    margin: 0 5% 5% 5%;

    overflow: auto;

    z-index: -100;
    background: var(--BGFADE), url(./images/okaun.jpg) bottom  no-repeat;
    position: absolute;
    height: 303px;  
    width: 90%;
    bottom: 0;
}

#GridBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "a b c d e"
        "f g . h i"
        "j j . k l"
        "m m . n o"
        "p p p p p";

    margin: 1rem 2rem 0 2rem; /* top right bottom left */
    column-gap: 10px;
    row-gap: 10px;
}

#GridBox > * {
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    display: flex;
    place-content: center;
}

.vertContainer {
    display: flex;
    flex-direction: column;
}

/* Row 1 */
#powerButtons      { grid-area: a; }
#powerNumber       { grid-area: b; }
#doubleButtons     { grid-area: c; }
#toughnessNumber   { grid-area: d; }
#toughnessButtons  { grid-area: e; }

/* Row 2 */
#thumbNumber       { grid-area: f; }
#thumbButtons      { grid-area: g; }
#thumbCheckbox     { grid-area: h; }
#thumbLabel        { grid-area: i; color: var(--CHBX-COLOR); }

/* Row 3 */
#singleFlipButton  { grid-area: j; }
#inAirCheckbox     { grid-area: k; }
#inAirLabel        { grid-area: l; color: var(--CHBX-COLOR); }

/* Row 4 */
#nFlipsButton      { grid-area: m; }
#nQuantityNumber   { grid-area: n; }
#nButtons          { grid-area: o; }

/* Row 5 */
#flipUntilLoseButton { grid-area: p; }
