.coin{
    width: 50px;
    height: 50px;
}

.line{
    display: flex;
    place-content: center;
}

.button{
    display: flex;
    flex-grow: 1;
    width: 100%;
    place-content: center;
    place-items: center;
    place-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label{
    color: white;
}

.vertContainer{
    display: flex;
    flex-direction: column;
}

#body{
    background-color: black;
}

#GridBox{
    display: grid;
    place-content: center;
    place-items: center;
    place-self: center;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#GridBox > * {
    display: flex;
    place-content: center;
    place-items: center;
    place-self: center;
    
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}

#bottomHalfDiv{
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    justify-content: center;
    justify-items: center;
    justify-self: center;

    overflow: auto;

    z-index: -100;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0)), url(./images/okaun.jpg) bottom  no-repeat;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 303px;  
    width: 90%;
}

#winDisplay{
    color: limegreen;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    place-content: center;
    min-width: fit-content;
    white-space: nowrap;
}




#powerButtons{
    grid-area: 1 / 1 / 2 / 2;
}

#powerNumber{
    grid-area: 1 / 2 / 2 / 3;
}

#doubleButtons{
    grid-area: 1 / 3 / 2 / 4;
}

#toughnessNumber{
    grid-area: 1 / 4 / 2 / 5;
}

#toughnessButtons{
    grid-area: 1 / 5 / 2 / 6;
}

#thumbNumber{
    grid-area: 2 / 1 / 3 / 2;
}

#thumbButtons{
    grid-area: 2 / 2 / 3 / 3;
}

#thumbCheckbox{
    grid-area: 2 / 4 / 3 / 5;
}

#thumbLabel{
    grid-area: 2 / 5 / 3 / 6;
}

#singleFlipButton{
    grid-area: 3 / 1 / 4 / 3;
}

#inAirCheckbox{
    grid-area: 3 / 4 / 4 / 5;
}

#inAirLabel{
    grid-area: 3 / 5 / 4 / 6;
}

#nFlipsButton{
    grid-area: 4 / 1 / 5 / 3;
}

#nQuantityNumber{
    grid-area: 4 / 4 / 5 / 5;
}

#nButtons{
    grid-area: 4 / 5 / 5 / 6;
}

#flipUntilLoseButton{
    grid-area: 5 / 1 / 6 / 6;
}